body {
  background-color: aquamarine;
  width: 70%;
  margin: auto;
}

h1 {
  text-align: center;
  color: blue;
  border-bottom: 1px solid blue;
}

h2 {
  text-align: center;
  color: darkblue;
}

p {
  text-align: justify;
  font-size: 1.1em;
}

#centrado p {
  text-align: center;
}

#saludo {
  margin-left: 400px;
}

#pie p {
  text-align: center;
  font-size: small;
  font-weight: bold;
  margin-top: 220px;
  border-bottom: 1px solid darkblue;
  padding: 5px;
}